.btn-xl {
  padding: 1rem 1.75rem !important;
  font-size: 1.25rem !important;
}

.aboutMe {
    text-align: center;
    line-height: 50px;

    @media (min-width: $breakpoint-tablet) {
    padding: 0px 50px;
    }
}