.social {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: $breakpoint-xs){
        flex-direction: row;
    }
}

#social {
background-color: $base-color;
}

.height {
    height: 100%;
}

.formStyles {
    padding: 50px;
    margin: auto 0;
}
