$base-color: #1B3E62;
$background-color: #e9ecef;
$footer-color: darken($base-color, 10%);

$font-family-sans-serif: "Lato", sans-serif, !default;

$headings-font-family: "Montserrat", sans-serif, default;

$headings-font-weight: 700 !default;

$breakpoint-xs: 575px;