main {
    background-color: $background-color;
}

img {
    height: 200px;
    width: 100%;
}

body {
    margin-top: 60px !important;
}

footer {
    background-color: $footer-color;
    height: 100px;
    text-align: center;
}

.tribute {
    font-size: 10px;
    top: 0;
}

.page-section {
    padding: 4rem;

    .page-section-heading {
        font-size: 3rem;
        margin-bottom: 3rem;
    }
}