main {
    background-color: $background-color;
}

img {
    height: 200px;
    width: 100%;
}

footer {
    background-color: $background-color;
    height: 100px;
    text-align: center;
}

.tribute {
    font-size: 10px;
    top: 0;
}
